@import "tailwindcss";


body{
    background: linear-gradient(to right, #13072e,#110331);
}


::-webkit-scrollbar{
    display:none;
}



/* For modern browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.custom-scrollbar {
  scrollbar-width: thin;            /* Firefox */
  scrollbar-color: rgba(255,255,255,0.4) transparent;
}